<br><br>

<h1 class="text-center">Thanks <%= @user.name %></h1>
<br>
<h3 class="text-center">Feels good, right ?</h3><br>
<br><br>

<h5 class="text-center"><%= @gossip.title %></h5>
<blockquote class="blockquote text-center">
 <p class="mb-0"><%= @gossip.content %></p>
 <footer class="blockquote-footer">written by <cite title="Source Title"><%= @user.name %></cite></footer>
</blockquote>

<br><br>

<div class="text-center">
<%= link_to "Add comment", new_user_gossip_comment_path(@user.id, @gossip.id), class: "btn btn-outline-info", role: "button" %>
<%= link_to "Edit", edit_user_gossip_path(@user.id, @gossip.id), class: "btn btn-outline-success", role: "button" %>
            <a href="<%= @gossip.id %>" class="btn btn-outline-danger" role="button" data-confirm="Are you sure ?" data-method="DELETE">Delete</a>
</div>


<%= render "comments" %>

